[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/libpicasso"]
	path = vendor/libpicasso
	url = https://github.com/tobid7/libpicasso
[submodule "vendor/spirv-helper"]
	path = vendor/spirv-helper
	url = https://github.com/tobid7/spirv-helper.git
