[submodule "backends/desktop/glfw"]
	path = backends/desktop/glfw
	url = https://github.com/glfw/glfw
[submodule "backends/3ds/libpicasso"]
	path = backends/3ds/libpicasso
	url = https://github.com/npid7/libpicasso
