[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/libpicasso"]
	path = vendor/libpicasso
	url = https://github.com/tobid7/libpicasso
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/spirv-cross"]
	path = vendor/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
